.row {max-width:78em;}
#map { height: 600px; }
.f-dropdown {max-width: 420px;}
.f-dropdown li {
    font-size: 0.85em;
    line-height: 1.1em;
}
.f-dropdown li a {
    padding: 0.3em;
}



#committee-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#committee-list ul.column li.box2 {
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 2px 1px #777;
    box-shadow: 0 2px 1px #777;
}


#committee-list li a {
    text-decoration: none;
    /*color: #000;*/
}

#committee-list li:hover {
    background: #f6f6f6;
}

#entry-member-detail p {
    font-size: 90%;
    line-height: 1.3;
    margin-bottom: 0;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}