.row {max-width:78em;}
#map { height: 575px; }
.f-dropdown {
    max-width: 452px;
    z-index:1200;
}
.f-dropdown li {
    font-size: 0.85em;
    line-height: 1.1em;
}
.f-dropdown li a {
    padding: 0.3em;
}


#committee-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#committee-list ul.column li.box2 {
    -webkit-box-shadow: 0 1px 2px #777;
    -moz-box-shadow: 0 2px 1px #777;
    box-shadow: 0 2px 1px #777;
}


#committee-list li a {
    text-decoration: none;
    /*text-indent: 1em;*/
    /*margin-left: -1em;*/
    /*color: #000;*/
}

#committee-list li:hover {
    background: #f6f6f6;
}

#entry-member-detail p {
    font-size: 95%;
    line-height: 1.3;
    margin-bottom: 0;
}

.entry ul {
    font-size: 0.97em;

}

h1 {font-size: 1.65em;}

.f-dropdown > *:first-child {margin-top: 3px;}

.f-dropdown li a {
    margin-left:0.5em;
    margin-right:0.5em
}

.entry-member-detail a {font-size: .95em;}

/* move both committee lists down if less than 1100px wide
   http://danielmall.com/articles/responsive-line-breaks/ */
.rwd-line { display: block; }

@media screen and (min-width: 1100px){
        .rwd-line { display: inline; }
    }